body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  height: 160vh;
}

/* Left section stylings */
.section-left {
  align-items: center;
  background-color: #455a64;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  width: 95%;
}

h1 {
   color: white;
   font-size: 90px;
   font-weight: bolder;
   letter-spacing: 3px;
   margin: 0;
   text-align: center;
}

.link-icon {
  height: 70px;
  width: auto;
}

input {
  font-size: 40px;
  height: 60px;
  letter-spacing: 2px;
  text-align: left;
  text-indent: 15px;
  width: 93%;
}

.enter-btn:hover {
  background-color: #FFC108;
}

.enter-btn {
  background-color: #FFD773;
  color: white;
  display: block;
  font-size: 30px;
  height: 60px;
  width: 94%;
}

/* Right section stylings, including dynamic cards */
.section-right {
  background-color: #D0D8DD;
  width: 50%;
}

.bookmark-card {
  background-color: white;
  border: 2px solid #455a64;
  color: #455a64;
  height: 21%;
  padding: 0;
  margin: 30px;
  width: 90%;
}

.card-header {
  display: flex;
  align-items: center;
  height: 30%;
  margin-bottom: -15px;
  width: 90%;
}

h2 {
  font-size: 36px;
  letter-spacing: 2px;
  margin: 0;
  width: 90%;
}

.card-middle {
  align-items: center;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  display: flex;
  font-size: 26px;
  justify-content: flex-start;
  height: 45%;
  text-align: center;
  width: 90%;
}

.read {
  color: #F05A28;
}

.card-footer {
  display: flex;
  font-size: 22px;
  height: 25%;
  justify-content: space-between;
  margin-bottom: -15px;
  width: 90%;
}

@media only screen and (max-width: 680px) {
  main {
    display: grid;
    height: 155vh;
    width: 100%;
  }

  .section-left {
    width: 100%;
  }

  .left-article {
    display: flex;
    height: 90%;
    justify-content: space-between;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    width: 80%;
  }

  .link-icon {
    height: 50px;
    width: auto;
  }

  input {
    height: 75px;
    margin-bottom: -40px;
  }

  .website-title {
    margin-top: -30px;
  }

  .enter-btn {
    height: 75px;
    margin-bottom: 15px;
  }

  .section-right {
    height: 100%;
    width: 100%;
  }

  .bookmark-card {
    height: 43%;
  }

  h2 {
    font-size: 40px;
  }

  footer span {
    font-size: 30px;
  }
}
